/* Banner */
.banner{
    background-image: url('../img/background-header-mobile.png');
    height: 410px;
    text-align: center;
    display: flex;
    font-family: 'Roboto', sans-serif;
    color: white;
}
.box{
    height: 240px;
    background-color: rgba(47,101,194, 0.7);
    margin: auto;
}
.box h2{
    font-size: 36px;
}
.box p{
    font-size: 16px;
}